@import url('/bootstrap-4.5/css/bootstrap.min.css');
@import url('/fontawesome/css/all.min.css');
@import url('pdf-viewer.css');
html {
  scrollbar-width:thin;
  scrollbar-color:#343a40 #6c757d;
}
body {
  padding-top: 5rem;
}
.element-block{
    padding: 1rem;
}
.content-block {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.thead-dark th{
  text-align: left;
}

.responsive-header{
    display:none;
}
@supports ((position: -webkit-sticky) or (position: sticky)){
    .sticky-top {
        top: 54px;
    }
}
.table-responsive{
    overflow-x:inherit;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
 }
}
@media (max-width: 432px) {
    .content-block{
        padding:0 15px;
        height:100%;
    }
    #data {
        height:100%;
    }
    .table-responsive{
        overflow-x:auto;
    }
    .sticky-top{
        top:0;
    }
    .container{
        height:100%;
        padding:0;
    }
}
.form {
    display: grid;
    grid-template-areas: 'field field field'
                         'space save reset';
    grid-gap: 10px;
    width: 60%;
}

.save-btn{
    grid-area: save;
}

.reset-btn{
    grid-area: reset;
}
.form-fields{
    grid-area: field;
    grid-template-columns: max-content;
}
.form-fields, .table-buttons {
    display:grid;
    grid-template-areas: 'input input';
    grid-gap: 10px;
}
.table-buttons {
    grid-template-areas: 'btn btn btn';
}
.form-label{
    display:grid;
    place-items:center;
    margin-bottom: 0;
}
